.sidebar {
    background-color: #888;
    
    display: flex;
    
    width: 100%;

    a {
        text-decoration: none;
        color: #f1f1f1;
        padding: 0.5rem 1rem;
        border-radius: 4px;

        &.active {
            background-color: #00b894;
            color: white;
        }

        &:hover {
            background-color: #555;
        }
    }
}